@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-wiggle: wiggle 2.5s infinite;

  --font-sans: Inter Variable, sans-serif;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
  @keyframes wiggle {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(14deg);
    }
    20% {
      transform: rotate(-8deg);
    }
    30% {
      transform: rotate(14deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  :root {
    --background: 321 100% 100%;
    --foreground: 321 5% 10%;
    --card: 321 50% 100%;
    --card-foreground: 321 5% 15%;
    --popover: 321 100% 100%;
    --popover-foreground: 321 100% 10%;
    --primary: 321 79.1% 22.5%;
    --primary-foreground: 0 0% 100%;
    --secondary: 321 30% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 283 30% 95%;
    --muted-foreground: 321 5% 40%;
    --accent: 283 30% 90%;
    --accent-foreground: 321 5% 15%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 321 5% 100%;
    --border: 321 30% 82%;
    --input: 321 30% 50%;
    --ring: 321 79.1% 22.5%;
    --radius: 0rem;
  }
  .dark {
    --background: 321 50% 10%;
    --foreground: 321 5% 100%;
    --card: 321 50% 10%;
    --card-foreground: 321 5% 100%;
    --popover: 321 50% 5%;
    --popover-foreground: 321 5% 100%;
    --primary: 321 79.1% 22.5%;
    --primary-foreground: 0 0% 100%;
    --secondary: 321 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 283 30% 25%;
    --muted-foreground: 321 5% 65%;
    --accent: 283 30% 25%;
    --accent-foreground: 321 5% 95%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 321 5% 100%;
    --border: 321 30% 50%;
    --input: 321 30% 50%;
    --ring: 321 79.1% 22.5%;
    --radius: 0rem;
  }
  /* width */
  .calendar-scroll::-webkit-scrollbar {
    width: 8px;
    scrollbar-width: thin;
  }

  /* Track */
  .calendar-scroll::-webkit-scrollbar-track {
    background: var(--background);
  }
  .calendar-scroll::-webkit-scrollbar-track:hover {
    background: var(--muted);
  }

  /* Handle */
  .calendar-scroll::-webkit-scrollbar-thumb {
    background: #dadce0;
    border-radius: 6px;
    cursor: grab;
  }

  /* Handle on hover */
  .calendar-scroll::-webkit-scrollbar-thumb:hover {
    background: #bdc1c6;
  }

  /* Handle on active */
  .calendar-scroll::-webkit-scrollbar-thumb:active {
    cursor: grabbing;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
